h1 Dice Roller: Room {{room.id}}
div
  #rollbox.overflowable
   p(ng-repeat='roll in room.rolls track by $index') {{roll}}
  .btn-toolbar
    button.btn.btn-default(ng-click='room.roll(1)') Roll 1
    button.btn.btn-default(ng-click='room.roll(2)') Roll 2
    button.btn.btn-default(ng-click='room.roll(3)') Roll 3
    button.btn.btn-default(ng-click='room.roll(7)') Roll 7
  .checkbox
    label
     input(type='checkbox', ng-model='room.sound')
     | Sound?
