extends layout

block body
  .container
    p hello world
    div(ng-app="myApp")
      room
  script(src='/socket.io/socket.io.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-socket-io/socket.js')
  script(src='bower_components/alert/index.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/filters.js')
  script(src="js/room/room.module.js")
  script(src='js/room/room.controller.js')
  script(src='js/room/room.directive.js')